extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="/img/nosotros.jpg", alt="", class="img-fluid")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet consectetur adipiscing elit duis felis natoque, donec diam dui ultricies accumsan sociosqu orci nascetur metus. Himenaeos lobortis interdum parturient in semper metus, ridiculus venenatis duis augue donec ultrices, nulla a facilisi ad eu. At dis vestibulum tempor mus lacinia pharetra suscipit venenatis ultricies, viverra mollis sodales dui est ornare platea odio tincidunt, arcu eu inceptos dictumst neque tortor convallis vel.

        p lacinia nisl metus inceptos euismod praesent, in sodales consequat sem ad, dictum arcu aptent proin nullam. Cum porta sagittis nostra quisque gravida fermentum dignissim rutrum tristique rhoncus, parturient lectus purus posuere montes egestas aliquam magnis eros, ultrices tortor vulputate fringilla accumsan aliquet praesent venenatis vivamus. Donec sapien nascetur duis dapibus metus accumsan nec, tellus auctor blandit velit neque venenatis mauris, convallis placerat cubilia id lobortis a.

        p netus in augue curabitur praesent ante, vehicula per torquent consequat etiam, vestibulum tincidunt eros posuere suscipit. Nisi mi sociosqu velit euismod duis proin, tellus ut ultricies nisl erat senectus non, lacinia rhoncus quis blandit viverra. Nunc urna facilisi cursus hendrerit tincidunt quis torquent, natoque augue quisque euismod lacus netus mattis, enim lectus nam vehicula vitae interdum. Per faucibus iaculis maecenas massa metus at, eget ultricies sed semper dictum, nulla augue imperdiet accumsan facilisi.

    .listado-iconos
      .container.mt-5.py-5.text-xl-center
        .row
          .col-md-4
            img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
            h2.mb-4 Seguridad
            p Lorem ipsum dolor sit amet consectetur adipiscing elit, malesuada quam sociis nullam iaculis aenean, nunc fermentum curae dapibus sollicitudin interdum fusce, urna facilisi dis ad litora
          .col-md-4
            img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
            h2.mb-4 Mejores Destinos
            p Lorem ipsum dolor sit amet consectetur adipiscing elit, malesuada quam sociis nullam iaculis aenean, nunc fermentum curae dapibus sollicitudin interdum fusce, urna facilisi dis ad litora
          .col-md-4
            img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
            h2.mb-4 Los mejores Precios
            p Lorem ipsum dolor sit amet consectetur adipiscing elit, malesuada quam sociis nullam iaculis aenean, nunc fermentum curae dapibus sollicitudin interdum fusce, urna facilisi dis ad litora

